@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;   
    display: flex;
    flex-direction: column; 
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 8%;
    background-color: #1F2937;
}

.hero-container {
    display: flex; 
    flex-direction: column;
    gap: 100px;
    width: 70%;
}

.hero-container-content {
    display: flex;
    justify-content: space-between;
}

.hero-container-content-text {
    width: 40%;
}

.hero-container-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #6d747d;
}

.hero-container-content-image-text {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {    
    margin-top: 12px;
    padding: 6px 32px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;    
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;    
    padding-bottom: 8%;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
}

.gallery-content-container-box {
    width: 175px;
    height: 175px;
    margin-bottom: 12px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.gallery-content-container-text {
    width: 175px;
    text-align: center;
    color: black;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    display: flex;    
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 5%;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.quote-container-text {   
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-container-citation {
    align-self: flex-end;
    font-size: 24px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 0;
}

.action-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border-radius: 8px;
    width: 70%;
    background-color: #3882F6;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.action button {    
    align-self: center;
    padding: 6px 32px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8; 
}

footer {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    background-color: #1F2937;
}

.footer-text {
    font-size: 18px;
    color: #E5E7EB;
}